<h1>Play a game of Ping Pong!</h1>
<form action='/pingpongresult'>
 <div class="form-group">
  <label for="limitInput">Enter a whole number:</label>
  <input type="number" class="form-control" id="limitInput" name="limitInput">
 </div>
 <button type="submit" class="btn btn-default">Submit</button>
</form>
